name: PackageJar

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y.%m.%d')"
      - name: create release folder
        run: mkdir -p releases/${{ steps.date.outputs.date }} && touch releases/${{ steps.date.outputs.date }}/keep.jar
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - run: mvn assembly:assembly -DdescriptorId=jar-with-dependencies
      - run: cp target/*jar-with-dependencies.jar releases
      - uses: actions/upload-artifact@v2
        with:
          name: firmata4j-autopack
          path: releases
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Releases Folder with new release
          file_pattern: "*.jar"

