name: PackageJar

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y.%m.%d')"
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - run: mvn assembly:assembly -DdescriptorId=jar-with-dependencies
      - run: mkdir -p releases/${{ steps.date.outputs.date }} && cp target/*jar-with-dependencies.jar $_
      - run: mkdir -p releases/${{ steps.date.outputs.date }}/separated && mvn dependency:copy-dependencies -DoutputDirectory=$_ -Dhttps.protocols=TLSv1.2
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Releases Folder with new release
          file_pattern: "*.jar"

